
<h1>CODERChat</h1>

<div>
    <input type="text" id="chatInput" placeholder="Ingresar mensaje" style="width: 300px;">
    <br /><br />
    <button  onclick="AddToChat('{{user.firstName}}')">Add to cart</button>
</div>

<div>
    <p id="Chat"></p>
</div>

 <script src="/socket.io/socket.io.js"></script> 

<script >

    const socketClient = io();
    const chatInput = document.getElementById('chatInput');
    const Chat = document.getElementById('Chat');

    socketClient.on('newClientConnected', data => {
        console.log(data);
    });

    socketClient.on('chatLog', data => {
        for (let i = 0; i < data.length; i++) {
            Chat.innerHTML += `<br />-${data[i].user}-: ${data[i].message}`;
        }
    });

    socketClient.on('messageArrived', data => {
        Chat.innerHTML += `<br />-${data.user}-: ${data.message}`;
    });

    const AddToChat= (name) => {
        if (chatInput.value !== '') {
            socketClient.emit('newMessage', { user: name, message: chatInput.value });
            chatInput.value = '';
        }
    }

    
</script>
