<div>
    <h2>Registrate</h2>
    <form action="/api/sessions/register" method="post">
    <div><input type="text" name="firstName" required="required" placeholder="Nombre"></div>
    <div><input type="text" name="lastName" required="required" placeholder="Apellido"></div>
    <div><input type="email" name="email"required="required" placeholder="Email"></div>
    <div><input type="password" name="passWord" required="required" placeholder="constraseña"></div>
    <button type="submit">Registrarse</button>

    <div>¿¿Ya tienes cuenta??<a href="/views/login">Ingresar</a></div>
    
    
    </form>
</div>